.profile-pic {
    border-width:2px !important;
}
body{
    background-color: rgb(39, 38, 38);
    color: white;
    padding: 0;
    margin: 0 0px 0 0;
    
}
div {
    padding: 0 !important;
    margin: 0 !important;
}
.col-12 h1 {
    font-size: 3vw;
    margin: 0 0;
}
.col-4{
   
    min-height:20vw;
}
.footer-col{
    min-height: 3vw;
}

.about-col p, a{
    display:flex;
    justify-content: center;
    font-size: 1.5vw !important;
}

video{
    width: 75%;
    padding: 1.5vw 0 0 0;
}

h3{
    font-size: 2vw;
}

.col-5 p {
   
    text-align: center;
    padding: 1vw 2vw 1vw 2vw;
    font-size: 2vw;
}
